@page "/todo"

<PageTitle>Todo</PageTitle>
<div class="card" style="width:22rem, d-flex, justify-content-center">
<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>

<ul>
    @foreach (var todo in todos)
    {
        <div style="justify-content-center, justify-items-center">
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </div>
    }
</ul>
     
<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>
</div>
@code {
    private List<TodoItem> todos = new();
    private string? newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}